<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Delete a course</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">

        <h3>Want to delete the following course?</h3>
        <p>Name: {{course.name}}</p>
        <p>Description: {{course.description}}<p>
        <form action='/' method='POST' class="form">
            {% csrf_token %}
            <input type="submit"  class="btn" value="No, let's go back" class="button">
        </form>
        <form action='/bye' method='POST'>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{course.id}}">
            <input type="submit" class="btn" id="bye" value=" Delete this Now!! and never get it BACK!">
        </form>
        </div>
    </body>
</html>
