<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>courses</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h2>Add a new course</h2>
    <form action="/process"  method="post" class="form">
      {% csrf_token %}
      <label for="name" >Name:</label>
      <input type="text" name="name"  />
      <label for="text" >Description:</label>
      <textarea name="textbox" col="100" rows="5"></textarea>
      <button type="submit" class="btn">Add</button>
    </form>
    <h1>Courses</h1>

    <table class="table">
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      {% if not listall %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}

      {% for course in listall%}
      <tr>
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.created_at}}</td>
        <td><a href="/courses/destroy/{{course.id}}">Delete</td>
      </tr>
      {%endfor%}
    </table>

  </div>


</body>
</html>
