<!DOCTYPE html>
<html>
<head>
    <title>
        moongoose_dash
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<a href="/" class="btn" >home</a>

<h1>place me in your database</h1>


<form action="/mongoose/new" method="POST">
    Name:<input type="text" name="name" id="name">
    Breed: <input type="text" name="breed" id="age">
    Color: <input type="text" name="color" id="age">
    <input type="submit">

</form>

<!--<h1>Find if User exists</h1>-->
<!--<form action="/find" method="Post">-->
<!--Find Name: <input type="text" name="find_name">-->
<!--<input type="submit">-->
<!--</form>-->

</body>
</html>