<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>secrets page</title>
  </head>
  <body>

    <form class="" action="/process" >
      {% csrf_token %}
      <input type="submit" name="back" value="back">  </form>
      <h1>Most Popular Secrets.....</h1>
      {% for secret in post %}
      <p>{{secret.content}} {{secret.count}} likes</p>
      {% if loguser == secret.creator %}
      <form action="/delete/{{secret.id}}" method="post">
        {% csrf_token %}
        <input type="submit" name="deletepost" value="delete">
      </form>
      {% elif loguser in secret.likedby.all %}
      <h6>You liked this</h6>
      {% endif %}

      {% endfor %}

  </body>
</html>
