<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>survey Form</title>
  </head>
  <body>
    <form action='/process' method='post'>
        {% csrf_token %}
        Name:<input type='text' name='name'><br />
        Dojo Location:
        <select name="location">
           <option name="location">san jose</option>
          <option name="location">silicon valley</option>
        </select><br />
          Favorite Language:
          <select name="language">
          <option name="language" value="python">python</option>
          <option name="language" value="java">java</option>
          <option name="language" value="ruby">ruby</option>
        </select><br />
        Comments (optional:)<br />
        <textarea col="100" rows="5"name="textbox"></textarea><br />
        <input type='submit' value='submit'>
    </form>

  </body>
</html>
